@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin: 0;
}

.video {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    filter: grayscale(80%) blur(4px);
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .poster {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .poster {
    width: 300%;
    left: -100%;
  }
}

h1 {
 font-size: 3.75vw;
 margin: 0 auto;
 color: ghostwhite;
}

h2 {
  font-size: 1.9vw;
  margin: 0 auto 1% auto;
  display: inline-block;
  color: ghostwhite;
}

h3 {
  font-size: 1.4vw;
  color: ghostwhite;
  margin-top: 0;
  background-color: rgba(96,96,96,.5);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 1%;
}

button {
  color: ghostwhite;
  background-color: rgb(98,191,224);
  border: none;
  display: inline-block;
  width: 12vw;
  height: 5.3vh;
  outline: none;
  text-align: center;
  font-size: 1vw;
  margin: 0 auto 0 1%;
  padding: 0;
  cursor: pointer;
}

#spirit-submit {
  color: ghostwhite;
  background-color: rgb(98,191,224);
  border: none;
  display: inline-block;
  width: 12vw;
  height: 5.3vh;
  outline: none;
  text-align: center;
  font-size: 1vw;
  margin: 0 auto 0 .5%;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
}

button:hover, #spirit-submit:hover {
  background-color: rgb(68,170,255);
  transition: 1s;
}

#spirit {
  width: 12vw;
  height: 5.3vh;
  outline: none;
  text-align: center;
  font-size: 1.2vw;
  margin: 0 .5% 0 auto;
  padding: 0;
  vertical-align: top;
  background-color: rgb(98,191,224);
  color: ghostwhite;
  border: none;
}

#spirit::placeholder {
  font-size: 1vw;
  text-align: center;
  color: ghostwhite;
}

#spirit:focus {
  background-color: rgb(68,170,255);
}

.search {
  margin-bottom: 4%;
}

.random-nav {
  margin: 3% auto 3% auto;
}

.random-nav > h2, .randon-nav > button {
  vertical-align: middle;
}

.cocktail-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  justify-content: space-evenly;
  margin: auto;
}

.cocktail {
  position: relative;
  width: 22%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  filter: saturate(60%);
}

.cocktail:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.details {
  background-color: rgba(96,96,96,.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 87%;
  padding-top: 15%;
  opacity: 0;
  transition: 2s;
}

.details:hover {
  opacity: 1;
  transition: 2s;
}

.ingredient {
  font-size: 1vw;
  margin: 1% auto;
}

.instructions {
  font-size: .75vw;
  padding: 0 5% 0 5%;
}

@media only screen
and (max-width: 900px) {
  h1 {
   font-size: 96px;
   margin: 0 auto;
   color: ghostwhite;
   padding-top: .5%;
  }

  h2 {
    font-size: 58px;
    margin: 0 auto 2% auto;
    display: inline-block;
    color: ghostwhite;
  }

  h3 {
    font-size: 40px;
    color: ghostwhite;
    margin-top: 0;
    background-color: rgba(96,96,96,.5);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 1%;
  }
  .cocktail {
    position: relative;
    width: 42%;
    margin-bottom: 4%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: saturate(60%);
  }
  button {
    color: ghostwhite;
    background-color: rgb(98,191,224);
    border: none;
    display: inline-block;
    width: 500px;
    height: 100px;
    outline: none;
    text-align: center;
    font-size: 40px;
    margin: 0 auto 0 2%;
    padding: 0;
    cursor: pointer;
  }
  #spirit-submit {
    color: ghostwhite;
    background-color: rgb(98,191,224);
    border: none;
    display: inline-block;
    width: 500px;
    height: 100px;
    outline: none;
    text-align: center;
    font-size: 40px;
    margin: 8% auto;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
    display: block;
  }
  button:hover, #spirit-submit:hover {
    background-color: rgb(68,170,255);
    transition: 1s;
    margin-bottom: 8%;
  }
  #spirit {
    width: 500px;
    height: 100px;
    outline: none;
    text-align: center;
    font-size: 40px;
    margin: 8% auto;
    padding: 0;
    vertical-align: top;
    background-color: rgb(98,191,224);
    color: ghostwhite;
    border: none;
    display: block;
  }
  #spirit::placeholder {
    font-size: 40px;
    text-align: center;
    color: ghostwhite;
  }
  #spirit:focus {
    background-color: rgb(68,170,255);
  }
  .ingredient {
    font-size: 9px;
    margin: .5% auto;
  }
  .instructions {
    font-size: 9px;
    padding: 0 5% 0 5%;
  }
  #random {
    margin-top: 8%;
  }
}
